@using Tictactoe.Core

<table style="background: gray">
    @foreach (var row in Board.Rows)
    {
    <tr>
        @foreach (var cell in row)
        {
            <td class="@GetCellPaddingCssClass(cell)">
                <Cell Data="cell" IsWinner="IsWinningCoordinate(cell)" Status="Status"  OnCellSelected="CellSelected">
                </Cell>
            </td>
        }
    </tr>    
    }
</table>

@code{

    [Parameter]
    public Board<CellMarker> Board {get; set;}
    
    [Parameter]
    public Coordinates[] WinningCoordinates { get; set; }
    
    [Parameter]
    public GameStatus Status { get; set; }

    [Parameter]
    public EventCallback<Coordinates> OnCellSelected {get; set;}

    private bool IsWinningCoordinate(Cell<CellMarker> cell)
    {
        return WinningCoordinates != null && WinningCoordinates.Contains(cell.Coordinates);
    }
    
    private void CellSelected(Coordinates coords)
    {
        OnCellSelected.InvokeAsync(coords);
    }

    private string GetCellPaddingCssClass(Cell<CellMarker> cell)
    {
        var styleClass = string.Empty;
        styleClass = (cell.Coordinates.X + 1) % 3 != 0 ? $"{styleClass} pb-1" : $"{styleClass} pb-0";
        styleClass = (cell.Coordinates.Y + 1) % 3 != 0 ? $"{styleClass} pr-1" : $"{styleClass} pr-0";
        return styleClass;
    }
}