@using Tictactoe.Core;

<style>
    .cell{
        display: flex; 
        width: 80px; 
        height: 80px;
        margin: auto; 
        background-color:darkslateblue;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }

    .cell > span{
        margin: auto;
        text-align:  center;
    }
    
    .cell.winner{
        background-color: mediumseagreen;
    }
    
    .cell.loser{
        background-color: indianred;
    }
</style>

<div @onclick="CellSelected" class="cell @GetWinnerCssClass()">
    <span>
        @if (Data.Value == CellMarker.Cross)
        {
           <CellCross />
        }else if (Data.Value == CellMarker.Nought)
        {
            <CellNought />
        }
        else
        {
            @: 
        }
    </span>
</div>

@code {
  [Parameter]
  public Cell<CellMarker> Data {get; set;}
    
  [Parameter]
  public bool IsWinner { get; set; }
    
  [Parameter]
  public GameStatus Status { get; set; }

  [Parameter]
  public EventCallback<Coordinates> OnCellSelected {get; set;}
    
  private void CellSelected(){
      OnCellSelected.InvokeAsync(Data.Coordinates);
  }

  private string GetWinnerCssClass()
  {
      return IsWinner switch
      {
          true when Status == GameStatus.Player1Won => "winner",
          true when Status == GameStatus.Player2Won => "loser",
          _ => ""
      };
  }
}
