@page "/settings"

<h1>Settings</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header bg-success text-light">
    Computer Player Mode
  </div>
    <div class="card-body text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success">Random</button>
            <button type="button" class="btn btn-secondary">Smart</button>
            <button type="button" class="btn btn-secondary" disabled>AI</button>
        </div>
   </div>
</div>

